.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #004d99;
  padding: 10px 20px;
  color: white;
  width: 100%;
}

.navbar-left,
.navbar-right {
  display: flex;
  align-items: center;
}

.logo {
  font-weight: bold;
  margin-right: 20px;
}

.navbar-left a {
  color: white;
  margin-right: 15px;
  text-decoration: none;
  font-size: 16px;
}

.navbar-left a:hover {
  text-decoration: underline;
}

.auth-btn {
  margin-left: 10px;
  padding: 6px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.login {
  background-color: white;
  color: #004d99;
}

.logout {
  color: #e3eaeb;
  background-color: #f51230;
  margin-right: 30px;
}

.register {
  background-color: #ff9933;
  color: white;
  margin-right: 30px;
}

.nav-link {
  background: none;
  border: none;
  padding: 0;
  font: inherit;
  color: inherit;
  cursor: pointer;
  text-decoration: underline;
  margin-right: 20px;
}

