.layer-wrapper {
  position: relative;
  
}

.layer-hover-box {
  padding: 10px;
  border: 2px dashed transparent;
  border-radius: 10px;
  cursor: pointer;
  transition: border-color 0.3s ease;
}

.layer-hover-box:hover {
  border-color: rgba(0, 0, 0, 0.3); /* Hover olunca çerçeve belirir */
  background-color: rgba(255, 255, 255, 0.05); /* Hafif arka plan */
}

.layer-popup {
  position: absolute;
  top: 50px;
  left: 0;
  background-color: rgba(255, 140, 0, 0.4);
  border: 2px solid #c37629;
  padding: 15px;
  z-index: 10;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
  min-width: 200px;
}

.save-button {
  margin-top: 10px;
  margin-right: 10px; /* Sağ tarafa boşluk ekler */
  padding: 5px 10px;
  background-color: #b4691d;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.delete-button {
  margin-top: 10px;
  padding: 5px 10px;
  background-color: #b4691d;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}
