/* Nöron görseli konteyneri */
.neuron-container {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: center;
    align-items: center;
  } 
  
  /* Her bir nöronun stilini belirle */
  .neuron-circle {
    width: 35px;
    height: 35px;
    border-radius: 50%; /* Daire formu için */
    background-color: rgba(255, 140, 0, 0.4);
    border: 2px solid rgba(218, 177, 126, 0.4); /* Kenar çizgisi */
    transition: transform 0.3s ease; /* Hover efektini daha yumuşak yapar */
  }
  
  /* Hover efekti */
  .neuron-circle:hover, .input-neuron-circle:hover {
    transform: scale(1.2);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.6);
  }
  

    /* Her bir nöronun stilini belirle */
  .input-neuron-circle {
    width: 35px;
    height: 35px;
    border-radius: 35%; /* Daire formu için */
    background-color: rgba(183, 0, 255, 0.4);
    border: 2px solid rgba(181, 126, 218, 0.4); /* Kenar çizgisi */
    transition: transform 0.3s ease; /* Hover efektini daha yumuşak yapar */
  }

  

  .connection-lines {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 0;
}

.main-box {
  position: relative; /* this makes the SVG position correctly */
}